<!DOCTYPE html>
<html ng-app="customersApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>KOM IGÅNG MED BRACKETS</title>
        <meta name="description" content="En interaktiv genomgång av Brackets.">
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="main.css">
       
       
    </head>
    <body ng-controller="CustomersController" class="container">
        <h2>Customers</h2>
        Filter: <input type="text" ng-model="customerFilter.name" />
        <br />
        <table class="table table-fluid">
            <thead>
                <tr class="row">
                    <th class="col-4" ng-click="doSort('city')">City</th>
                    <th class="col-4" ng-click="doSort('joined')">Date</th>
                    <th class="col-4 text-right" ng-click="doSort('name')">Name</th>   
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="customer in customers | filter:customerFilter | orderBy:sortBy:reverse" class="row">
                    <td class="col-4">{{ customer.city }}</td>
                    <td class="col-4">{{ customer.joined | date:'dd/MM/yy'}}</td>
                    <td class="col-4 text-right">{{ customer.name | uppercase}}</td>
                </tr>
            </tbody>
        </table>    
        <br/>
        <span>Total customers: {{ customers.length }}</span>
         <script src="node_modules/angular/angular.min.js"></script>
         <script src="node_modules/angular-route/angular-route.min.js"></script>
        <script src="app/app.js"></script>
       <script src="app/controllers/customersController.js"></script>
    </body>
</html>